# This workflow will do a clean installation of node dependencies,
# build the dashboard, and deploy it to the gh-pages branch.

name: Node.js CI - Github pages deployment

on:
  schedule:
    - cron: '5 4 1 * *'

# on: workflow_dispatch

jobs:
  deploy-dashboard:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Set Node Version
        uses: actions/setup-node@v3
        with:
          node-version-file: 'package.json'

      - name: Install
        run: npm ci
      
      - name: Build Dashboard
        run: npm run build
        
      - name: Deploy Dashboard
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: build
